@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .side-hover {
    @apply  hover:bg-[#F3FAF2] hover:rounded-md transition ease-in-out duration-200 cursor-pointer hover:text-[#4E903C] ;
  }
  .mon-hover {
    @apply lg:hover:opacity-40 transition ease-in-out duration-200 cursor-pointer;
  }

}

.active {
  color: #4E903C;
  background-color: #F3FAF2;
  border-radius: 6px;
}
.active svg path,
.active svg defs {
  stroke: #8EC97D;
}
.triangle {
  width: 1em;
  height: 1em;
  border-top-right-radius: 10%;
}
@media (min-width: 1024px) {
  .triangle {
    width: 1em;
    height: 1em;
    border-top-right-radius: 30%;
  }
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}